<?xml version="1.0" encoding="utf-8"?>
<Config>
  <FileEditor>notepad++.exe</FileEditor>
  <Command>Dir</Command>
  <Parameter1>
    <Item>
      <Libelle>Option 1</Libelle>
      <Valeur>Valeur1</Valeur>
    </Item>
    <Item>
      <Libelle>Option 2</Libelle>
      <Valeur>Valeur2</Valeur>
    </Item>
    <!-- Ajoutez d'autres Parameter ici -->
  </Parameter1>
  <Parameter2>
    <Item>
      <Libelle>OptionA</Libelle>
      <Valeur>ValeurA</Valeur>
    </Item>
    <Item>
      <Libelle>OptionB</Libelle>
      <Valeur>ValeurB</Valeur>
    </Item>
    <!-- Ajoutez d'autres Parameter ici -->
  </Parameter2>
  <Parameter3>
    <Item>
      <Libelle>ItemX</Libelle>
      <Valeur>ValueX</Valeur>
    </Item>
    <Item>
      <Libelle>ItemY</Libelle>
      <Valeur>ValueY</Valeur>
    </Item>
    <!-- Ajoutez d'autres Parameter ici -->
  </Parameter3>
  <Parameter4>
    <Item>
      <Libelle>ItemX</Libelle>
      <Valeur>ValueX</Valeur>
    </Item>
    <Item>
      <Libelle>ItemY</Libelle>
      <Valeur>ValueY</Valeur>
    </Item>
    <!-- Ajoutez d'autres Parameter ici -->
  </Parameter4>
  <Files>
    <File>
      <FileName>C:\Users\cybernaboo\Desktop\a.txt</FileName>
    </File>
    <File>
      <FileName>C:\Users\cybernaboo\Desktop\b.txt</FileName>
    </File>
  </Files>
  <Bookmarks>
    <Bookmark>
      <Description>zzz</Description>
      <Parameter1>Valeur1</Parameter1>
      <Parameter2>ValeurA</Parameter2>
      <Parameter3>ValueX</Parameter3>
      <Parameter4>ValueX</Parameter4>
    </Bookmark>
  </Bookmarks>
</Config>