<Config>
  <FileEditor>notepad++.exe</FileEditor>
  <Command>Dir</Command>
  <Parameter1>
    <Item>
      <Description>Option 11</Description>
      <Value>Value1</Value>
    </Item>
    <Item>
      <Description>Option 2</Description>
      <Value>Value2</Value>
    </Item>
    <!-- Ajoutez d'autres Parameter ici -->
  </Parameter1>
  <Parameter2>
    <Item>
      <Description>OptionA</Description>
      <Value>ValueA</Value>
    </Item>
    <Item>
      <Description>OptionB</Description>
      <Value>ValueB</Value>
    </Item>
    <!-- Ajoutez d'autres Parameter ici -->
  </Parameter2>
  <Parameter3>
    <!-- Ajoutez d'autres Parameter ici -->
  </Parameter3>
  <FcdVerbose>
	  <Item>
		  <Description>Normal</Description>
		  <Value>Normal</Value>
	  </Item>
	  <Item>
		  <Description>Quiet</Description>
		  <Value>Quiet</Value>
	  </Item>
	  <Item>
      <Description>Detailed</Description>
      <Value>Detailed</Value>
    </Item>
    <!-- Ajoutez d'autres Parameter ici -->
  </FcdVerbose>
  <Files>
    <File>
      <FileName>C:\Users\cybernaboo\Desktop\a.txt</FileName>
    </File>
    <File>
      <FileName>C:\Users\cybernaboo\Desktop\b.txt</FileName>
    </File>
  </Files>
  <Bookmarks>
    <Bookmark>
      <Description>yyy</Description>
      <Parameter1>Value1</Parameter1>
      <Parameter2>ValueA</Parameter2>
      <Parameter3>ValueX</Parameter3>
      <FcdVerbose>ValueY</FcdVerbose>
    </Bookmark>
  </Bookmarks>
</Config>